.content{
    margin: 10px 100px;
}
h1{
    text-align: center;
}
.accordion-header {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    padding: 10px;
}
span{
    padding: 10px;
}
.accordion-body {
    display: none;
    padding: 20px;
    background: black;
    color: white;
}
